# logs and symlinks
rholog.txt
rholog-*
sim-*

# build output
bin/
public/api/generated/
.cbc

extensions/*/*/xcuserdata/
extensions/*/*/*/xcuserdata/
extensions/*/*/*/*/xcuserdata/
extensions/*/*/*/*/*/xcuserdata/
extensions/*/*/*/*/*/*/xcuserdata/
extensions/*/*/*/*/*/*/*/xcuserdata/
extensions/*/*/generated/
extensions/*/*/*/generated/
extensions/*/*/*/*/generated/
extensions/*/*/*/*/*/generated/
extensions/*/*/*/*/*/*/generated/
extensions/*/*/*/*/*/*/*/generated/
extensions/*/*/build/
extensions/*/*/*/build/
extensions/*/*/*/*/build/
extensions/*/*/*/*/*/build/
extensions/*/*/*/*/*/*/build/
extensions/*/*/*/*/*/*/*/build/
project/iphone/
