<div data-role="page" data-url="<%= Rho::Application.startURI %>/">


  <div data-role="content">
    <ul data-role="listview">
      <li><a href="JxcoreTest">JXCore tests</a></li>
    </ul>
  </div>

</div>
